@import 'tailwindcss';

:root {
  --clr-text: rgb(227, 227, 227);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  background-color: rgba(1, 1, 1, 1);
  color: var(--clr-text); /* Text color */
}

body {
  overflow-y: scroll;
}

.grayscale {
  filter: grayscale(100%);
}

.grayscale:hover {
  filter: grayscale(0%);
}

.font-fugaz {
  font-family: 'Fugaz One', cursive;
}
