@import 'tailwindcss';

html {
  overflow-y: scroll;
}

body {
  background-color: #dbdbdb;
  /* background-image: url('/jazz-background.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  backdrop-filter: blur(5px); /* Add blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari support */
}